{{> nav }}

<main>
    <form class="login-form" method="post">
        <div class="form-control">
            <label for="username">Your email</label>
            <input id="username" type="text" name="username" value="">
        </div>
        <div class="form-control">
            <label for="password">Your password</label>
            <input id="password" type="password" name="password" value="">
        </div>
        <button type="submit">Log In</button>
    </form>
</main>
